.keep {
    margin: 70px 0;
     
    .keep-wrap {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .keep-title {
        font-family: 'Playfair Display'; 
        font-weight: 700;
        font-size: 22px;
        letter-spacing: 1.1px;
        color: #413d4b;
        margin-top: 20px;
        margin-bottom: 35px;
        text-transform: uppercase;
    }

    .keep-left {
        flex-basis: 49.5%;
    }

    .keep-form {
        .keep-input, .keep-textarea {
            position: relative;
            margin: 20px 0;
        }

        input, textarea {
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 0.7px;
            width: 100%;
            border: 1px solid #e5e5e5;
            box-shadow: none;
            padding: 15px 20px;

            &:focus + label, &:valid + label {
                transform: translateY(-15px);
                font-size: 12px;
            }
        }

        textarea {
            resize: none;
            outline: none;
            height: 200px;
        }

        label {
            font-weight: 300;
            font-size: 14px;
            letter-spacing: .7px;
            color: rgba($color: #413d4b, $alpha: .5);
            width: 100%;
            position: absolute;
            top: 20px;
            left: 20px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            pointer-events: none;
            transition-duration: 200ms;
        }

        .keep-button {
            button {
                @include btn() {
                    background-color: #fff;
                    cursor: pointer;
                }
            }
        }
    }

    .keep-right {
        flex-basis: 40.8%;
    }

    .keep-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding-top: 10px;
    }

    .keep-element {
        flex-basis: 42.1%;
        text-align: center;
        margin-bottom: 50px;
    }

}