@mixin min-max($min-width, $max-width, $padding) {
    min-width: $min-width;
    max-width: $max-width;
    padding-left: $padding;
    padding-right: $padding;
    box-sizing: border-box;
    margin: 0 auto;
}

@mixin btn($bc: $turquoise) {
    width: 120px;
    border: 1px solid $bc;
    font-family: 'Hammersmith One';
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    border-radius: 2px;
    color: $turquoise;
    padding: 10px 0;
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    box-sizing: border-box;
    transition-duration: 500ms;
    transition-property: background-color, color;
    @content;

    &:hover {
        background-color: $turquoise;
        color: $white;
    }
}

@mixin divider($color-line: $turquoise) {
    margin: 20px auto;
    display: block;
    text-align: center;
    width: 50px;
    height: 1px;
    background-color: $color-line;
}