$black: #000;
$white: #fff;

$white-gray: #f4f5f9;
$gray-light: #cbc6c0;

$red: #e74c3c;

$advantages-line: #e6e7eb;
$advantages-border-gray: #e5e5e5;
$advantages-gray: #999;
$advantages-title: #6a6a6a;

$history-gray: $advantages-gray;
$history-title: $advantages-title;

$service-bg: #202020;
$service-gray: $advantages-gray;

$portfolio-gray: $advantages-gray;
$portfolio-title: $advantages-title;

$ideas-title: #6a6a6a;

$counts-color: #f4f5f9;

$price-gray: $advantages-gray;


$keep-gray: $advantages-gray;
$keep-border-gray: #e5e5e5;

$footer-bg: $service-bg;
$footer-gray: $advantages-gray;